<header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <div class="container-fluid">
    
    <a class="navbar-brand" href="/admin" style="font-size: 31px;
    font-family: cursive;background-color:lightgreen;
}">Admin panel</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02" style="background-color:white;">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin/allproducts">All Products</a>
        </li>
       <svg xmlns="http://www.w3.org/2000/svg" width="30" height="35" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
  <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
</svg>
        <li class="nav-item">
          <a class="nav-link" href="/admin/allorders">All Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/all-users">All Users</a>
        </li>
        
      </ul>
      <form class="d-flex" style="margin-right:141px">
        
       <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
  <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
</svg>


         <button type="button" class="btn btn-dark">
         {{#each adminlogin}}
         Admin
         {{else}}
         Account
         {{/each}}
          </button>
       {{#if adminlogin}}

        <a href="/admin/adminlogout"> 
        <button type="button" class="btn btn-outline-success" style="margin-left: 7px;padding:8px">Logout</button></a>
        {{else}}
        <a href="/admin/adminlogin"> 
        <button type="button" class="btn btn-outline-success" style="margin-left: 7px;padding:8px">Login</button></a>
        {{/if}}
      </form>
      
</div>
   </div>
</nav>
    </header>