<footer>
   <div class="container"> 
     <div class="sec aboutus"> 
     <h2>About us</h2>
     <p>We don’t just sell plants, we make your gardens thrive and solve all your gardening issues, magically. We are a young company of 200 passionate individuals driven to leave this world better and greener than we found it.</p>
   
   <ul class="sci">
     <li><a href="#"><i class="fa fa-facebook-official"aria-hidden="true"></i></a></li>
     <li><a href="#"><i class="fa fa-instagram"aria-hidden="true"></i></a></li>
     <li><a href="#"><i class="fa fa-twitter"aria-hidden="true"></i></a></li>
     <li><a href="#"><i class="fa fa-youtube-play"aria-hidden="true"></i></a></li>
      </ul>
   </div>
   <div class="sec quicklinks">
  <h2>Quick Links</h2>
  <ul>
    <li><a href="/faq">FAQ</a></li>
    <li><a href="/privacy-policy">Privacy Policy</a></li>
    <li><a href="/terms-condition">Terms and Conditions</a></li>
  </ul>
     </div>
     <div class="sec contact">
       <h2>Contact info</h2>
       <ul class="info">
         <li>
           <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
           <span>647 Green Street<br>phonixvilla, PA 1940,<br>INDIA</span>
            </li>
            <li>
           <span><i class="fa fa-phone" aria-hidden="true"></i></span>
           <p><a href="tel:8943227183">+91 8943227183</a></p> 
            <li>
           <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
           <p><a href="mailto:eplant@gmil.com">eplant@gmail.com</a></p>
       </ul>
     </div>
</div>
 </footer>
 <div class="copyrightText">
   <p>Copyright©2021 E-PLANT. All Rights Reserved</p>
 </div>