

<div class="main_slider" style="background-image:url(images/1webworkdesk.jpg);">
        <div class="container fil_height">
          <div class="row align-items-centre fill_height">
            <div class="col">
              <div class="main_slider_content">
                <h6 style="font-family:ui-monospace;">Make Space For Nature<br>Let's pass it on cleaner, better, and greener.</h6>
                
                <div class="red_button shop_now_button"><a href="/all-products">shop now</a></div>
              </div>

            </div>
          </div>
      </div>
 </div>
 <section id="brand" class="container">
   <div class="row">
     <a href="/all-products" style="margin-left: 79px;
    margin-top: 35px;
    margin-bottom: 35px;"> 
     <img class="img-fluid col-lg-2 col-md-4 col-6" src="images/category-1-indoor-plants1-600.webp" alt="">
    <img class="img-fluid col-lg-2 col-md-4 col-6" src="images/category-2-air-purifying1-600.webp" alt="">
     <img class="img-fluid col-lg-2 col-md-4 col-6" src="images/category-3-low-maintenance1-600.webp" alt="">
    <img class="img-fluid col-lg-2 col-md-4 col-6" src="images/category-4-plant-bundles1-600.webp" alt="">
    <img class="img-fluid col-lg-2 col-md-4 col-6" src="images/category-5-ceramic-pots1-600 (2).webp" alt="">
    
     </a>
   </div>
 </section>
 <!--bestsellers-->
 <div class="container">
   <h2 style="font-family: fantasy;">Best Sellers</h2>
   <div class="row">
     <div class=" col-md-3">
       <div class="product-top">
         <img src="images/jade plant mini.jpg">
         <div class="overlay">
           <a href="/all-products"> 
           <button type="button" class="btn btn-outline-success" style="margin-left: 75px;">Shop now</button></a>
           <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
</svg>
         </div>
       </div>
       <div class="product-bottom text-center">
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star-half-o" aria-hidden="true"></i>
         <h3>Jade Plant Mini</h3>
         <h5>₹295</h5>
        </div>
     </div>
     <div class="col-md-3">
       <div class="product-top">
         <img src="images/peacelilly.jpg">
         <div class="overlay">
           <a href="/all-products"> 
           <button type="button" class="btn btn-outline-success" style="margin-left: 75px;">Shop now</button></a>
           <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
</svg>
         </div>
       </div>
       <div class="product-bottom text-center">
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star-half-o" aria-hidden="true"></i>
         <h3>PeaceLilly PLant</h3>
         <h5>₹345</h5>
        </div>
     </div>
     <div class="col-md-3">
       <div class="product-top">
         <img src="images/arecapalmplant.jpg" style="margin-left: -33px;">
         <div class="overlay">
           <a href="/all-products"> 
           <button type="button" class="btn btn-outline-success" style="margin-left: 75px;">Shop now</button></a>
           <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
</svg>
         </div>
       </div>
       <div class="product-bottom text-center">
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star-half-o" aria-hidden="true"></i>
         <h3>Areca Palm Plant</h3>
         <h5>₹495</h5>
        </div>
     </div>
     <div class="col-md-3">
       <div class="product-top">
         <img src="images/aloeveramini.jpg">
         <div class="overlay">
           <a href="/all-products"> 
           <button type="button" class="btn btn-outline-success" style="margin-left: 75px;">Shop now</button></a>
           <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
</svg>
         </div>
       </div>
       <div class="product-bottom text-center">
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star-half-o" aria-hidden="true"></i>
         <h3>Aloevera Mini</h3>
         <h5>₹375</h5>
        </div>
   </div>
 </div>




   
    <div class="container" style="margin-top: 54px;">
      <div class="row">

      <div class="col-sm-6">
          <h1 style="font-size: 44px;
    font-family: cursive;
    margin-bottom: 11px;
    margin-top: 55px;">Planters on fleek!</h1>
          <p style="font-size: 25px;">The perfect companions for your green members and also decor pieces in their own right, our planters truly amp up your space.</p>
          <a href="/all-products"> </a>
          <button type="button" class="btn btn-success">Shop Now</button></a>
        </div>
        <div class="col-sm-6">
          <img src="https://media.ugaoo.com/wysiwyg/tile-plantersnewjan.jpg" class="img-responsive">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">

        <div class="col-sm-6">
          <img src="https://media.ugaoo.com/wysiwyg/tile-giftingnewjan.jpg" class="img-responsive">
        </div>
        <div class="col-sm-6">
          <h1 style="font-size: 44px;font-family:cursive;margin-top:49px;">Gifts that Grow</h1>
          <p style="font-size: 25px;">Be it festivals, birthdays or anniversaries, gifting plants signifies hope - for the future. What's better than gifts that grow with you and remind you of happy times. </p>
          <a href="/all-products"> 
          <button type="button" class="btn btn-success">Shop Now</button></a>
        </div>
      </div>
    </div>
<!-----pots--->

    <div class="container">
   <h2 style="font-family: fantasy;margin-top:20px">POTS</h2>
   <div class="row">
     <div class=" col-md-3">
       <div class="product-top">
         <img src="images/chauthra plastic pots.jpg">
         <div class="overlay">
           <a href="/all-products"> 
           <button type="button" class="btn btn-outline-success" style="margin-left: 75px;">Shop now</button></a>
           <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
</svg>
         </div>
       </div>
       <div class="product-bottom text-center">
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star-half-o" aria-hidden="true"></i>
         <h3>Chathura Plastic pot</h3>
         <h5>₹695</h5>
        </div>
     </div>
     <div class="col-md-3">
       <div class="product-top">
         <img src="images/aristo_hexa_planter_no_5_1__1_1.webp">
         <div class="overlay">
           <a href="/all-products"> 
           <button type="button" class="btn btn-outline-success" style="margin-left: 75px;">Shop now</button></a>
           <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
</svg>
         </div>
       </div>
       <div class="product-bottom text-center">
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star-half-o" aria-hidden="true"></i>
         <h3>Aristo Hexa Planter</h3>
         <h5>₹725</h5>
        </div>
     </div>
     <div class="col-md-3">
       <div class="product-top">
         <img src="images/chauthra self watering pots.jpg" style="margin-left: 22px;">
         <div class="overlay">
           <a href="/products"> 
           <button type="button" class="btn btn-outline-success" style="margin-left: 75px;">Shop now</button></a>
           <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
</svg>
         </div>
       </div>
       <div class="product-bottom text-center">
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star-half-o" aria-hidden="true"></i>
         <h3>Chathura SelfWatering pot</h3>
         <h5>₹995</h5>
        </div>
     </div>
     <div class="col-md-3">
       <div class="product-top">
         <img src="images/mariegold_danshil_pots_12_inch_brown_without_d_2_1.webp">
         <div class="overlay">
           <a href="/all-products"> 
           <button type="button" class="btn btn-outline-success" style="margin-left: 75px;">Shop now</button></a>
           <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
</svg>
         </div>
       </div>
       <div class="product-bottom text-center">
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star" aria-hidden="true"></i>
         <i class="fa fa-star-half-o" aria-hidden="true"></i>
         <h3>Danshil Mariagold pot</h3>
         <h5>₹430</h5>
        </div>
   </div>
 </div>








     <div class="main_slider" style="background-image:url(images/3-web-soil-and-manure.jpg);height:590px;">
        <div class="container fil_height">
          <div class="row align-items-centre fill_height">
            <div class="col">
              <div class="main_slider_content">
                <h6 style="color: white;font-size:4vw;margin-left:70px;">Explore NOw</h6>
                <div class="red_button shop_now_button" style="margin-left: 180px;"><a href="/all-products">shop now</a></div>
              </div>

            </div>
          </div>
      </div>
 </div>
 </div>
 </div>


 <div class="container" style="padding:100px 40px;text-align:center;">
   <form action="/homepage" method="POST">
     <h1 style="font-family:system-ui;">Join Our Newsletter</h1>
     <p>Stay up to date on the latest news with our carefully curated newsletters.</p>
     <div class="Email-box" style="height:40px;display:flex;justify-content:center;">
       <i class="fa fa-envelope" style="width:40px;line-height:40px;background:lightgreen;" aria-hidden="true"></i>
       <input class="tbox" style="width:260px;border:black;transition:0.6s;" type="email" name="Email"  placeholder="Enter your Email">
      <button class="btn" style="background: lightgreen;padding:0 10px;text-transform:uppercase;cursor:pointer;font-family:sans-serif;" type="submit" name="button">Subscribe</button>
     </div>
   </form>
 </div>
 