<link rel='stylesheet' href='/stylesheets/order-success.css' />
<section style="margin-top: 150px;">
    <div class=" row">
        <div class="ccontainer">
            <div class="col-md-12 text-center">
                <h1 class="text-center">Order Placed Successfully</h1>
                <a href="/orders" class="btn btn-success">view Orders</a>
            </div>
        </div>
    </div>
</section>