<link rel='stylesheet' href='/stylesheets/place-order.css' />
<section style="margin-top: 140px;">
    <div class="container mt-5">
        <form action="" id="checkout-form">
            <div class="row">

                <div class="col-md-6">
                    <h2 style="font-family:ui-serif;">Enter Delivery Details</h2><br>
                    <div>
                        <label form="">Address</label>

                        <input class="form-control" type="text" id="address" name="address">
                        <label form="">Pin code</label>

                        <input class="form-control" type="text" id="pincode" name="pincode">
                        <label form="">Mobile</label>
                        <input class="form-control" type="text" id="mobile" name="mobile">
                        {{#each result}}
                        <input type="text" name="total" id="" value="{{this.total}}" hidden>
                        {{/each}}
                        

                    </div>

                </div>
                <div class="col-md-4">
                    
                    <div class="container mt-5 ml-5 checkout">
                        {{#each result}}
                        <h5>Total Amount:{{this.total}}</h5>
                        {{/each}}
                        <hr>
                        <div class="payment">
                            <p>Payment method</p>
                            <label class="radio-inline"> 
                            <input type="radio" name="payment-method" value="COD" checked>COd
                            </label>
                            <label class="radio-inline mt-2">
                                <input type="radio" name="payment-method" value="ONLINE">Online payment
                            </label>
                            <button class="btn btn-primary float-right" type="submit">Checkout</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </form>
    </div>
</section>
<script>
    $("#checkout-form").submit((e)=>{
        e.preventDefault()
        $.ajax({
            url:'/place-order',
            method:'post',
            data:$('#checkout-form').serialize(),
            success:(result)=>{
             if (result.codSuccess){
                    location.href='/order-success'
                }else{
                    razorpayPayment(result)
                }
            }
        })
    })
    function razorpayPayment(order){
        var options = {
    "key": "rzp_test_lrdoYdP6ZvdfDU", // Enter the Key ID generated from the Dashboard
    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "E-PLANT",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        

        verifyPayment(response,order)
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }

};
     var rzp1 = new Razorpay(options);
     rzp1.open();
    }
    function verifyPayment(payment,order){
        $.ajax({
            url:'/verify-payment',
            data:{
                payment,
                order
            },
            method:'post',
            success:(result)=>{
                if (result.status){
                    location.href='/order-success'

                }else{
                    alert("Payment failed")
                }
            }
        })

    }
</script>