
<link rel='stylesheet' href='/stylesheets/privacy-policy.css' />
<h1>Privacy Policy</h1>
<p style="padding: 30px;font-size:23px;font-family:ui-monospace">At E-Plant we recognize that privacy is very important. We promise to respect your contact preferences and to protect your private information. This Privacy Policy describes the information that is collected, how it is used and with whom it might be shared. This Privacy Policy applies to all of the services and products offered by E-Plant.

Please read carefully the Privacy Policy and the Terms of Use before you use our website, our tools or our services and before conducting any type of transaction with us. By using any of our services, you accept the practices described in this Privacy Policy and you agree to be bound by the Terms of Use.</p>
