<div class="row"style="margin-top: 70px;
    margin-bottom: 150px;">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <div class="text-centre" style="font-family: serif;font-weight:600;font-size:50px; ">Create New Account</div>
            <form action="/signup" method="POST">
                <div class="form-control">
                    <label style="font-size: 20px;">Name</label>
                    <input type="text" class="form-contol" name="Name" placeholder="Enter Name" style="width: 220px;height:36px;box-shadow:0 2px 20px 0 lightgreen;">
                </div>
                <div class="form-control">
                    <label style="font-size: 20px;">Email address</label>
                    <input type="email" style="box-shadow:0 2px 20px 0 lightgreen;" class="form-control" name="Email" placeholder="Enter Email">
                </div>
                <div class="form-control">
                    <label style="font-size: 20px;">Password</label>
                    <input type="password" style="box-shadow:0 2px 20px 0 lightgreen;" class="form-control" name="password"  placeholder="Enter Pasword">
                </div>
                <a href="/login" style="font-size: 16px;">Already have Account ?</a>
                <button type="submit" class=" btn btn-success"style="width: 100px;height:50px;font-size:20px;">Signup</button>
            </form>
        </div>
    </div>
</div>